body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.masthead {
    padding: 6rem 0;
}

.divider {
    border-top: 3px solid #007bff;
    width: 60px;
    margin: 1rem auto;
}

.timeline-item {
    margin-bottom: 2rem;
}
